*{
    background-color:rgb(226, 219, 217);
    padding:0px;
    margin: 0px;
}

body{
    text-align: center;
}

.input{
    width: 100%;
    height: 50px;
    background-color:rgb(238, 238, 238);
    border:none;
    border-radius: none;

    margin-top: 40px;
}

.txtArea{
    width:100%;
    height:auto;
    border:none;
    border-radius: none;
    background-color:rgb(238, 238, 238);
    resize:none;
    display:block;
    font-size: 15px;
    padding: 30px 10px;
    resize: both;
    
    margin-top: 35px;
}

.titulo{
    font-size: 36px;
    font-weight: bold;
    background-color:rgb(152, 139, 137);
}

.button{
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    border: 0px;

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.btn-form{
    color: rgb(255, 255, 255);
    background-color: rgb(131, 123, 171);
    padding: 4px 8px;
    text-align: center;

    font-weight:bold;
    font-size: 22px;    
    margin-top:20px; 
    margin-left:1215px;
}